/* Global Styles */
body {
  font-family: Helvetica, Arial, sans-serif;
  color: #0a0a0a;
  font-size: 14px;
  line-height: 1.43;
  background-color: #f3f4f8;
  margin: 0;
  min-width: 600px;
  padding: 0;
  text-align: left;
  width: 100% !important;
}

table {
  border-collapse: collapse;
  width: 100%;
}

a {
  text-decoration: none;
}

.miro__container {
  max-width: 600px;
  min-width: 600px;
  margin: 0 auto;
  text-align: left;
}

.miro__content-wrapper {
  margin: 0;
  padding: 0;
  padding-top: 43px;
}

.miro__content {
  background-color: #fff;
}

.miro__header {
  height: 100%;
  min-height: 100px;
  padding: 0 40px;
}

.miro__header-content {
  width: 100%;
}

.miro__col-header-logo {
  padding-top: 32px;
  width: 50%;
  word-wrap: break-word;
}

.miro__col-header-btn {
  padding-top: 26px;
  text-align: right;
  width: 50%;
}

.miro-btn {
  background-color: #fff;
  border: 1px solid #050038;
  border-radius: 4px;
  color: #050038;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  height: 48px;
  line-height: 48px;
  text-align: center;
  text-decoration: none;
  width: 128px;
}

.miro__content-body {
  padding: 40px 40px 36px;
}

.miro-title-block__title {
  font-size: 42px;
  color: #050038;
  font-weight: 700;
  line-height: 1.24;
}

.miro-title-block__subtitle {
  font-size: 20px;
  color: #050038;
  font-weight: 400;
  opacity: .6;
  margin-top: 16px;
}

.miro-confirmation-code-block__code {
  background-color: #f3f4f8;
  border-radius: 4px;
  color: #050038;
  font-size: 48px;
  font-weight: 700;
  height: 128px;
  line-height: 128px;
  text-align: center;
}

.miro__sep {
  background-color: #e1e0e7;
  height: 1px;
}

.miro__footer {
  padding-bottom: 72px;
  padding-top: 42px;
  text-align: center;
}

.miro__footer-title {
  font-size: 16px;
  color: #050038;
  opacity: .7;
  line-height: 1.38;
}

.miro__footer-title a {
  color: inherit;
}
